@model TeamNewsViewModel
@{
    ViewData["Title"] = "TeamNews";
}

<partial name="_TeamPartial" model="@Model.Team" />
<section class="team-news p-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    @foreach (var item in Model.News)
                    {
                        <div class="col-lg-6 mb-3">
                            <div class="news-card"
                                 style=" background-image: url(/assets/img/@item.Image);">
                                <a asp-action="Index" asp-controller="News" asp-route-id="@item.Id">
                                    <h5 class="nc-title">
                                    @item.Title
                                    </h5>
                                </a>

                                <div class="actions">
                                    <span class="view-count">@item.ViewCount</span><i class="fas fa-eye"></i>
                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>
            <div class="col-lg-4">
                <img src="/assets/img/jawn300x500.jpg" alt="">
            </div>
        </div>
    </div>
</section>
