
@{
    ViewData["Title"] = "Teams";
}


<div class=" actions-y">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center">
                <img alt="" src="~/assets/img/titleImages/@Model.">
                <h2 class="text-light ml-3">Premier</h2>
            </div>
        </div>
    </div>
</div>

