@model TeamInfoViewModel
@{
    ViewData["Title"] = "TeamInfo";
}

<partial name="_TeamPartial" model="@Model.Team" />
<section class="squad p-50">
    <div class="container">
        <div class="title">
            <h1>Squad</h1>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="sq-type">
                    @foreach (var item in Model.Squad)
                    {
                        <div class="title-head d-flex">
                            <a href="">@item.Position.Name</a>
                        </div>

                        <div class="row">
                            @foreach (var player in item.Players)
                            {
                                <div class="col-lg-12">
                                    <div class="sq-pl">
                                        <div class="pl-info">
                                            <img src="~/assets/img/" alt="">
                                            <div class="right">
                                                <p class="p-name">@player.Surname</p>
                                                <p class="p-age">Age: </p>
                                            </div>
                                        </div>
                                        <div class="pl-num">
                                            @player.Num
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    }


                </div>
            </div>
            <div class="col-lg-4">
                <img src="/assets/img/jawn300x500.jpg" alt="">
            </div>
        </div>
    </div>
</section>

