<!DOCTYPE html>

<html>
<head>
    <link href="~/Admin/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/Admin/assets/plugins/jquery-metrojs/MetroJs.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/plugins/shape-hover/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/plugins/shape-hover/css/component.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/plugins/owl-carousel/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/plugins/owl-carousel/owl.theme.css" />
    <link href="~/Admin/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Admin/assets/plugins/jquery-slider/css/jquery.sidr.light.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Admin/assets/plugins/jquery-ricksaw-chart/css/rickshaw.css" type="text/css" media="screen">
    <link rel="stylesheet" href="~/Admin/assets/plugins/Mapplic/mapplic/mapplic.css" type="text/css" media="screen">
    <link type="text/css" href="@@path/vendor/dropzone/dist/min/dropzone.min.css" rel="stylesheet">
    <link href="~/Admin/assets/plugins/bootstrap-select2/select2.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Admin/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Admin/assets/plugins/bootstrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Admin/assets/plugins/bootstrapv3/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Admin/assets/plugins/animate.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Admin/assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" />
    <link href="~/Admin/webarch/css/webarch.css" rel="stylesheet" type="text/css" />
    @RenderSection("style", false)
</head>

<body class="horizontal-menu"  >
    <div class="header navbar navbar-inverse ">
        <div class="navbar-inner">
            <div class="header-seperation">
                <ul class="nav pull-left notifcation-center visible-xs visible-sm">
                    <li class="dropdown">
                        <a href="#main-menu" data-webarch="toggle-left-side">
                            <i class="material-icons">menu</i>
                        </a>
                    </li>
                </ul>
                <a href="index.html">
                    <img src="assets/img/logo.png" class="logo" alt="" data-src="assets/img/logo.png" data-src-retina="assets/img/logo2x.png" width="106" height="21" />
                </a>
                <ul class="nav pull-right notifcation-center">
                    <li class="dropdown hidden-xs hidden-sm">
                        <a href="index.html" class="dropdown-toggle active" data-toggle="">
                            <i class="material-icons">home</i>
                        </a>
                    </li>
                    <li class="dropdown hidden-xs hidden-sm">
                        <a href="email.html" class="dropdown-toggle">
                            <i class="material-icons">email</i><span class="badge bubble-only"></span>
                        </a>
                    </li>
                    <li class="dropdown visible-xs visible-sm">
                        <a href="#" data-webarch="toggle-right-side">
                            <i class="material-icons">chat</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="header-quick-nav">
                <div class="pull-left">
                    <ul class="nav quick-section">
                        <li class="quicklinks">
                            <a href="#" class="" id="layout-condensed-toggle">
                                <i class="material-icons">menu</i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav quick-section">
                        <li class="quicklinks  m-r-10">
                            <a href="#" class="">
                                <i class="material-icons">refresh</i>
                            </a>
                        </li>
                        <li class="quicklinks">
                            <a href="#" class="">
                                <i class="material-icons">apps</i>
                            </a>
                        </li>
                        <li class="quicklinks"> <span class="h-seperate"></span></li>
                        <li class="quicklinks">
                            <a href="#" class="" id="my-task-list" data-placement="bottom" data-content='' data-toggle="dropdown" data-original-title="Notifications">
                                <i class="material-icons">notifications_none</i>
                                <span class="badge badge-important bubble-only"></span>
                            </a>
                        </li>
                        <li class="m-r-10 input-prepend inside search-form no-boarder">
                            <span class="add-on"> <i class="material-icons">search</i></span>
                            <input name="" type="text" class="no-boarder " placeholder="Search Dashboard" style="width:250px;">
                        </li>
                    </ul>
                </div>
                <div id="notification-list" style="display:none">
                    <div style="width:300px">
                        <div class="notification-messages info">
                            <div class="user-profile">
                                <img src="assets/img/profiles/d.jpg" alt="" data-src="assets/img/profiles/d.jpg" data-src-retina="assets/img/profiles/d2x.jpg" width="35" height="35">
                            </div>
                            <div class="message-wrapper">
                                <div class="heading">
                                    David Nester - Commented on your wall
                                </div>
                                <div class="description">
                                    Meeting postponed to tomorrow
                                </div>
                                <div class="date pull-left">
                                    A min ago
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="notification-messages danger">
                            <div class="iconholder">
                                <i class="icon-warning-sign"></i>
                            </div>
                            <div class="message-wrapper">
                                <div class="heading">
                                    Server load limited
                                </div>
                                <div class="description">
                                    Database server has reached its daily capicity
                                </div>
                                <div class="date pull-left">
                                    2 mins ago
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="notification-messages success">
                            <div class="user-profile">
                                <img src="assets/img/profiles/h.jpg" alt="" data-src="assets/img/profiles/h.jpg" data-src-retina="assets/img/profiles/h2x.jpg" width="35" height="35">
                            </div>
                            <div class="message-wrapper">
                                <div class="heading">
                                    You haveve got 150 messages
                                </div>
                                <div class="description">
                                    150 newly unread messages in your inbox
                                </div>
                                <div class="date pull-left">
                                    An hour ago
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    <div class="chat-toggler sm">
                        <div class="profile-pic">
                            <img src="assets/img/profiles/avatar_small.jpg" alt="" data-src="assets/img/profiles/avatar_small.jpg" data-src-retina="assets/img/profiles/avatar_small2x.jpg" width="35" height="35" />
                            <div class="availability-bubble online"></div>
                        </div>
                    </div>
                    <ul class="nav quick-section ">
                        <li class="quicklinks">
                            <a data-toggle="dropdown" class="dropdown-toggle  pull-right " href="#" id="user-options">
                                <i class="material-icons">tune</i>
                            </a>
                            <ul class="dropdown-menu  pull-right" role="menu" aria-labelledby="user-options">
                                <li>
                                    <a href="user-profile.html"> My Account</a>
                                </li>
                                <li>
                                    <a href="calender.html">My Calendar</a>
                                </li>
                                <li>
                                    <a href="email.html">
                                        My Inbox&nbsp;&nbsp;
                                        <span class="badge badge-important animated bounceIn">2</span>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="login.html"><i class="material-icons">power_settings_new</i>&nbsp;&nbsp;Log Out</a>
                                </li>
                            </ul>
                        </li>
                        <li class="quicklinks"> <span class="h-seperate"></span></li>
                        <li class="quicklinks">
                            <a href="#" class="chat-menu-toggle" data-webarch="toggle-right-side">
                                <i class="material-icons">chat</i><span class="badge badge-important hide">1</span>
                            </a>
                            <div class="simple-chat-popup chat-menu-toggle hide">
                                <div class="simple-chat-popup-arrow"></div>
                                <div class="simple-chat-popup-inner">
                                    <div style="width:100px">
                                        <div class="semi-bold">David Nester</div>
                                        <div class="message">Hey you there </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">

        <div class="bar">
            <div class="bar-inner">
                <ul>
                    <li>
                        <a asp-action="">
                            Dashboard
                        </a>
                    </li>
                    <li class="horizontal">
                        <a href="javascript:;">
                            Game <span class="semi-bold">Menu</span> <span class="arrow"></span>
                        </a>
                        <ul class="horizontal">
                            <li>
                                <a asp-area="Admin" asp-controller="Game" asp-action="Index">Games</a>
                            </li>
                            <li>
                                <a asp-area="Admin" asp-controller="Game" asp-action="Create">Add game</a>
                            </li>
                        </ul>
                    </li>
                    <li class="horizontal">
                        <a href="javascript:;">
                            User <span class="semi-bold">Menu</span> <span class="arrow"></span>
                        </a>
                        <ul class="horizontal">
                            <li>
                                <a asp-area="Admin" asp-controller="User" asp-action="Index">Users</a>
                            </li>
                            <li>
                                <a asp-area="Admin" asp-controller="User" asp-action="Create">Add user</a>
                            </li>
                        </ul>
                    </li>
                    <li class="horizontal">
                        <a href="javascript:;">
                            Team <span class="semi-bold">Menu</span> <span class="arrow"></span>
                        </a>
                        <ul class="horizontal">
                            <li>
                                <a asp-area="Admin" asp-controller="Teams" asp-action="Index">Teams</a>
                            </li>
                            <li>
                                <a asp-area="Admin" asp-controller="Teams" asp-action="Create">Add team</a>
                            </li>
                        </ul>
                    </li>
                    <li class="horizontal">
                        <a href="javascript:;">
                            News <span class="semi-bold">Menu</span> <span class="arrow"></span>
                        </a>
                        <ul class="horizontal">
                            <li>
                                <a asp-area="Admin" asp-controller="News" asp-action="Index">News</a>
                            </li>
                            <li>
                                <a asp-area="Admin" asp-controller="News" asp-action="Create">Add news</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        @RenderBody()
    </div>

    <script src="~/Admin/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
    <script src="~/Admin/assets/plugins/jquery/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="~/Admin/assets/plugins/bootstrapv3/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Admin/assets/plugins/jquery-block-ui/jqueryblockui.min.js" type="text/javascript"></script>
    <script src="~/Admin/assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
    <script src="~/Admin/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js" type="text/javascript"></script>
    <script src="~/Admin/assets/plugins/jquery-numberAnimate/jquery.animateNumbers.js" type="text/javascript"></script>
    <script src="~/Admin/assets/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Admin/assets/plugins/bootstrap-select2/select2.min.js" type="text/javascript"></script>
    @RenderSection("script", false)
    <script src="~/Admin/webarch/js/webarch.js" type="text/javascript"></script>
    <script src="~/Admin/assets/js/chat.js" type="text/javascript"></script>
    <script src="~/Admin/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
    <script src="~/Admin/assets/plugins/jquery-ricksaw-chart/js/raphael-min.js"></script>
    <script src="~/Admin/assets/plugins/jquery-ricksaw-chart/js/d3.v2.js"></script>
    <script src="~/Admin/assets/plugins/jquery-ricksaw-chart/js/rickshaw.min.js"></script>
    <script src="~/Admin/assets/plugins/jquery-sparkline/jquery-sparkline.js"></script>
    <script src="~/Admin/assets/plugins/skycons/skycons.js"></script>
    <script src="~/Admin/assets/plugins/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
    <script src="~/Admin/assets/plugins/Mapplic/js/jquery.easing.js" type="text/javascript"></script>
    <script src="~/Admin/assets/plugins/Mapplic/js/jquery.mousewheel.js" type="text/javascript"></script>
    <script src="~/Admin/assets/plugins/Mapplic/js/hammer.js" type="text/javascript"></script>
    <script src="~/Admin/assets/plugins/Mapplic/mapplic/mapplic.js" type="text/javascript"></script>
    <script src="~/Admin/assets/plugins/jquery-flot/jquery.flot.js" type="text/javascript"></script>
    <script src="~/Admin/assets/plugins/jquery-metrojs/MetroJs.min.js" type="text/javascript"></script>
    <script src="~/Admin/assets/js/dashboard_v2.js" type="text/javascript"></script>

</body>
</html>
