@model PlayerViewModel

<tr>
    <td>@Model.Surname</td>
    <td>@Model.Position</td>

    <td>
        <a class="btn deletePlayer" data-id="@Model.Id" id=""><i class="fa fa-trash-o"></i></a>
        <a class="btn" data-id="@Model.Id" id="replacePlayer"><i class="fa fa-undo"></i></a>
    </td>
    @if (Model.IsChanged == false)
    {
        <td>In game</td>
    }
    else
    {
        <td>Replaced</td>
    }
</tr>