$main_color: #324230;

$gray-dark: #393c3d;
$gray-dark-2: #222627;
$gray-dark-3: #4d5051;
$gray-dark-4: #595959;
$white: #ffffff;

// opacity
$black-o-0: rgba(0,0,0,0);
$black-o-1: rgba(0, 0, 0, 1);
$black-o-80: rgba(0,0,0,.80);
$black-o-50: rgba(0,0,0,.5);
$white-o-20: rgba(255,255,255,.2);


//action colors
