.event {
    display: flex;

    .event-match-time {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &:after,
        &:before {
            display: block;
            width: 4px;
            height: 100%;
            min-height: 18px;
            background-color: #d8d8d8;
            content: "";
        }

        .event-time {
            display: flex;
            width: 30px;
            min-height: 20px;
            align-items: center;
            justify-content: center;
            margin: 2px 0;
            background-color: #000;
            border-radius: 10%;
            position: relative;

            span {
                color: #fff;
                font-size: 12px;
            }

            &::before {
                position: absolute;
                top: 14px;
                left: 16px;
                width: 0;
                height: 0;
                border-color: #000 #000 transparent transparent;
                border-style: solid;
                border-width: 3px;
                content: "";
            }
        }
    }

    .event-picture {
        display: flex;
        min-width: 44px;
        align-items: center;
        justify-content: center;
    }

    .event-description {
        padding: 12px;
        margin: auto 0;
        font-size: 14px;
        color: #fff;
    }
}