.news-card {
    @include bacImage();
    height: 250px;
    background-color: rgba(0, 0, 0, 0.541);
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 15px;
    border-radius: 2px;

    padding: 20px;

    &.main {
        .nc-title {
            font-size: 25px;
            font-family: 'Anton', sans-serif !important;
        }

        .nc-desc {
            color: $white;
        }
    }

    .nc-title {
        color: $white;
        font-size: 18px;
        font-family: 'Anton', sans-serif !important;
    }




    .actions {
        .view-count {
            color: $white;
            margin-right: 5px;
        }

        i {
            color: $white;

        }
    }
}


@media screen and(max-width: 920px) {
    .news-card {

        &.main {
            height: 250px !important;

            .nc-title {
                font-size: 15px;
            }

            .nc-desc {
                display: none;
            }
        }


        .nc-title {
            font-size: 15px;
        }

        .nc-desc {
            font-size: 10px;

        }
    }
}

@media screen and(max-width: 560px) {}