.league-standing-table {
    .table-ms {
        .title-head {
            background-color: $main-color;
            padding: 10px;

            .pos-left {
                width: 150px;
                display: flex;
                justify-content: space-between;
                color: aliceblue;
            }

            .points {
                color: aliceblue;
            }
        }

        .list-t {
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            li {
                padding: 10px;
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: center;
                border-bottom: .5px solid rgba(168, 168, 168, 0.164);
cursor: pointer;
                p {
                    margin-bottom: 0 !important;
                    color: aliceblue;
                }

                .team-left {
                    align-items: center;
                    display: flex;
                    justify-content: space-around;
                    width: 200px;
                    color: aliceblue;

                    .t-pos {}

                    img {
                        width: 40px;
                    }

                    p {
                        margin-bottom: 0 !important;
                    }
                }
            }


        }
    }
}