.tags {
    margin-bottom: 10px;

    .tags-list {
        display: flex;

        li {
            margin-right: 5px;

            a {
                background-color: $main_color;
                color: $white;
                padding: 5px;
                border-radius: 2px;
            }
        }
    }
}

@media screen and(max-width: 920px) {

    .tags {

        .tags-list {

            li {

                a {
                    font-size: 10px;
                }
            }
        }
    }
}