.team-btn {
    padding: 20px;
    width: 100%;
    display: block;
    text-align: center;
    border: 2px solid $main_color;
    color: aliceblue;

    &:hover{
        background-color:  $main_color;
        color: aliceblue;
    }
    &.active{
        background-color:  $main_color;
        color: aliceblue;
    }
}