<section class="match-summary py-50">
    <div class="container">
        <div class="row">
            <div class="col-4 match-summary">
                <div class="match-team">
                    <img src="/assets/img/teams/real_madrid.png" alt="">
                    <h5>Real Madrid</h5>
                </div>
            </div>
            <div class="col-4 match-summary match-team-state">
                <div class="match-team-state">
                    <div class="match-date"> <span>21.03.2022, 00:00</span></div>
                    <div class="matchboard">
                        <span class="matchboard__card">
                            <span class="matchboard__card-game">
                                0
                            </span>
                        </span><span class="matchboard__hyphen"></span><span class="matchboard__card matchboard__card--no_margin">
                            <span class="matchboard__card-game matchboard__card-game--winner"> 4 </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-4 match-summary">
                <div class="match-team">
                    <img src="/assets/img/teams/barcelona.png" alt="">
                    <h5>Barcelona</h5>
                </div>
            </div>
        </div>
    </div>
</section>
