<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreeKick</title>
    <link rel="icon" href="~/assets/img/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Work+Sans:wght@100;200;300;400;500;600&display=swap"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="~/source/css/style.css">
</head>
<body>
    <header>
        <nav class="navigation">
            <div class="logo">
                <a href=""><img src="~/assets/img/Untitled-2.png" alt=""></a>
            </div>
            <ul class="nav-links">
                <li><a class="dropmenu" href="#home">Dashboard</a></li>
                <li><a class="dropmenu" href="#about">Teams</a></li>
                <li><a class="dropmenu" href="#home">Live scores</a></li>
                <li><a class=" dropmenu" href="#about">Champions League</a></li>
                <li><a class="dropmenu" href="#home">Dashboard</a> </li>
                <li>
                    <a class="dropmenu" href="#home">European football <span>+</span></a>
                    <ul class=" dropdown mega">
                        <div class="container">
                            <div class="row justify-content-center dropdown-row">
                                <div class="col-lg-4 col-sm-12">
                                    <div class="sub-menu-heading bold">Info</div>
                                    <ul class="sub-menu">
                                        <li> <a href="typography.html"> Typography </a> </li>
                                        <li> <a href="messages_notifications.html"> Messages &amp; Notifications </a> </li>
                                        <li> <a href="notifications.html"> Notifications </a> </li>
                                        <li> <a href="icons.html">Icons</a> </li>
                                        <li> <a href="buttons.html">Buttons</a> </li>
                                    </ul>
                                </div>
                                <div class="col-lg-4 col-sm-12">
                                    <div class="sub-menu-heading bold">Teams</div>
                                    <ul class="sub-menu">
                                        <li> <a href="layout_options.html"> Layout Options </a> </li>
                                        <li> <a href="boxed_layout.html">Boxed Layout </a> </li>
                                        <li> <a href="boxed_layout_v2.html">Inner Boxed Layout </a> </li>
                                        <li> <a href="extended_layout.html">Extended Layout</a> </li>
                                        <li> <a href="RTL.html">RTL Layout</a> </li>
                                    </ul>

                                </div>
                                <div class="col-lg-4 col-sm-12">
                                    <div class="sub-menu-heading bold">Extra</div>
                                    <ul class="sub-menu">
                                        <li> <a href="layout_options.html"> Layout Options </a> </li>
                                        <li> <a href="boxed_layout.html">Boxed Layout </a> </li>
                                        <li> <a href="boxed_layout_v2.html">Inner Boxed Layout </a> </li>
                                        <li> <a href="extended_layout.html">Extended Layout</a> </li>
                                        <li> <a href="RTL.html">RTL Layout</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </ul>
                </li>
                <li>
                    <a class="dropmenu" href="#home">European football <span>+</span></a>
                    <ul class=" dropdown mega">
                        <div class="container">
                            <div class="row justify-content-center dropdown-row">
                                <div class="col-lg-4 col-sm-12">
                                    <div class="sub-menu-heading bold">Info</div>
                                    <ul class="sub-menu">
                                        <li> <a href="typography.html"> Typography </a> </li>
                                        <li> <a href="messages_notifications.html"> Messages &amp; Notifications </a> </li>
                                        <li> <a href="notifications.html"> Notifications </a> </li>
                                        <li> <a href="icons.html">Icons</a> </li>
                                        <li> <a href="buttons.html">Buttons</a> </li>
                                    </ul>
                                </div>
                                <div class="col-lg-4 col-sm-12">
                                    <div class="sub-menu-heading bold">Teams</div>
                                    <ul class="sub-menu">
                                        <li> <a href="layout_options.html"> Layout Options </a> </li>
                                        <li> <a href="boxed_layout.html">Boxed Layout </a> </li>
                                        <li> <a href="boxed_layout_v2.html">Inner Boxed Layout </a> </li>
                                        <li> <a href="extended_layout.html">Extended Layout</a> </li>
                                        <li> <a href="RTL.html">RTL Layout</a> </li>
                                    </ul>

                                </div>
                                <div class="col-lg-4 col-sm-12">
                                    <div class="sub-menu-heading bold">Extra</div>
                                    <ul class="sub-menu">
                                        <li> <a href="layout_options.html"> Layout Options </a> </li>
                                        <li> <a href="boxed_layout.html">Boxed Layout </a> </li>
                                        <li> <a href="boxed_layout_v2.html">Inner Boxed Layout </a> </li>
                                        <li> <a href="extended_layout.html">Extended Layout</a> </li>
                                        <li> <a href="RTL.html">RTL Layout</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
            <div class="burger-s">
                <a class="burger burger-unclick">
                    <span class="unclick"></span>
                </a>
            </div>

        </nav>
    </header>
    <main >
        @RenderBody()
    </main>
    <footer class="p-50" style="background-image: url('@Url.Content("~/assets/img/5205447.jpg")'); ">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-12 contact-info">
                    <h1 class="text-center mb-3">FreeKick </h1>
                    <div class="soc-links">
                        <ul class="justify-content-center">
                            <li><a class="nav-link"><i class="fab fa-instagram"></i></a></li>
                            <li> <a class="nav-link"><i class="fab fa-twitter"></i></a></li>
                            <li> <a class="nav-link"><i class="fab fa-facebook-f"></i></a></li>
                            <li> <a class="nav-link"><i class="fab fa-pinterest"></i></a></li>

                        </ul>
                    </div>

                </div>

            </div>

            <p>
                Copyright © 2022 Goal (English) All rights reserved. The information contained in Goal (English) may not be
                published, broadcast, rewritten, or redistributed without the prior written authority of Goal (English)
            </p>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/2225861a13.js" crossorigin="anonymous"></script>
    <script src="~/assets/plugins/jquery/dist/jquery.js"></script>
    @RenderSection("script", false)
    <script src="~/assets/js/app.js"></script>
</body>
</html>
