@model List<LiveMatchesViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="col-md-12">
    <div class="grid simple ">
        <div class="grid-title no-border">
        </div>
        <div class="grid-body no-border">
            <h3>Basic  <span class="semi-bold">Table</span></h3>
            <table class="table no-more-tables">
                <thead>
                    <tr>
                        <th style="width:22%">Game</th>
                        <th style="width:9%">Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        foreach (var match in item.Matches)
                        {
                            <tr>
                                <td class="v-align-middle d-flex">
                                    <p>@match.Home.TeamName</p>
                                    <span>&</span>
                                    <p>@match.Away.TeamName</p>
                                </td>
                                <td class="v-align-middle"></td>
                                <td class="v-align-middle">
                                    <span class="muted">Redesign project template</span>
                                </td>
                                <td class="v-align-middle">
                                    <a class="btn btn-success" asp-controller="Game" asp-action="Detail" asp-route-id="@match.MatchId"></a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

